<!DOCTYPE html>
<html lang="en">
   <%- include('./partial/head.ejs')%>
    <body>
        <%- include('./partial/usernavbar.ejs')%>
         <!-- Page Header-->
         <header class="masthead" style="background-image: url('web/assets/img/sd.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Blogging is good for your career.</h1>
                            <h2 class="subheading"> A well-executed blog sets you apart as an expert in your field.</h2>
                            <span class="meta">
                                Posted by
                                <a href="/">Penelope Trunk</a>
                                on August 24, 2020
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Footer-->
        <%- include('./partial/footer.ejs')%>
    </body>
</html>
